# ~/.config/systemd/user/xremap.service
[Unit]
Description=xremap

[Service]
Restart=always
ExecStart=/home/ewan/.cargo/bin/xremap /home/ewan/.config/xremap/config.yml --watch
